/* Global */
* {
	box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}


[class*="col-"] {
    float: left;
    padding: 15px;
}

/*For desktop*/
.col-1 {width: 20%;}
.col-2 {	width: 80%;}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}

html {
	font-family: 'Spinnaker', sans-serif;
	line-height: 1.5;
}

.container {
	margin: auto;
}

#logobox1 {
	margin: auto;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

#logobox2 {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

#rect1 {
	display:inline-block;
	min-width: 1em;
	height: 2em;
	background-color: silver;
	
}

#rect2 {
	display: inline-block;
	min-width: 1em;
	height: 2em;
	background-color: darksalmon;
	float:left;
}

#rect3 {
	display: inline-block;
	min-width: 1em;
	height: 2em;
	background-color: gainsboro;
	float: left;
}

#rect4 {
	display: inline-block;
	min-width: 1em;
	height: 2em;
	background-color: lightblue;
	float: left;
}

div.polaroid {
	background-color: white;
	margin-bottom: 20px;
	border: 6px solid white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.caption {
	text-align: center;
	font-size:0.8em;
	background-color: white;
	padding-top: 5px;
}

body {
	background-color: #edf1f2;
	margin: 0;
	padding: 0;
}

header {
	/*background-color: #e3e7e8;*/
	background-color: #edf1f2;
}

/*
h1 a{
	margin: 3%;

}*/

h2 {
	color: #9ca8a8;
	padding: 0 0.2em;
	text-transform: uppercase;
	text-shadow: 1px 1px white;
}

h1 a{
	color: #9ca8a8;
}

nav {
	background-color: #edf1f2;
	text-align: center;
}

main {
	background-color: #edf1f2;
}


img {
	display: block;
	margin: auto;
	max-width: 100%;
	height: auto;
}

a:hover {
	color: salmon;
}

ul {
	list-style-type: none;
	line-height: 2em;
	padding: 0;
}

a {
	text-decoration: none;
	color: #9ca8a8;
}

ul a {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-align: center;
	padding: 0.3em;
}

li  {
	width: 100%;
}

footer {
	background-color: #edf1f2;
	clear: both;
	color: #9ca8a8;
	font-size: 0.8em;
	margin: 1%;
}

